{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "react-native-reanimated/plugin",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@constants": "./src/constants",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@app": "./src/app",
          "@assets": "./src/assets",
          "@services": "./src/services",
          "@navigation": "./src/navigation"
        }
      }
    ]
  ]
}
